<div class="account-header">
    <span class="account-header__name">Your profile {{ test }} </span>
    <div class="account-header__button" (click)="logout()">Log out</div>
</div>

<div class="account-form">
    <form class="user-form" [formGroup]="userForm" novalidate>

        <div class="user-form__block">
            <div class="user-data">
                <span class="user-data__label">Name</span>
                <input type="text" class="user-data__input" formControlName="name">
            </div>
            <div class="user-data">
                <span class="user-data__label">Email</span>
                <input type="text" class="user-data__input" formControlName="email">
            </div>
        </div>

        <div class="user-form__block">
            <div class="user-data">
                <i class="fas fa-eye show-pass" (mousedown)="showPass()" (mouseup)="upPass()"></i>
                <span class="user-data__label">Password</span>
                <input [type]="isShowPass ? 'text' : 'password'" class="user-data__input" formControlName="password"><!--[type]-делаем type динамичным-->
            </div>
            <div class="user-data">
                <span class="user-data__label">Date of birth</span>
                <input bsDatepicker type="text" class="user-data__input" formControlName="birth"><!--подключили datepicker-->
            </div>
        </div>
        
    </form>

    <button class="submit" (click)="saveChanges()">Save</button>
   

</div>