.account-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name{
        font-size: 22px;
        font-weight: bolder;
        margin-left: 100px;
        text-transform: uppercase;
    }

    &__button{
        height: 100%;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        font-weight: bolder;
        cursor: pointer;
        border-left:1px solid gray;
        
        &:hover{
            color: blue;
            background-color: rgba(0,0,0, .3);
        }
    }
}


.account-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    
    .user-form {
        width: 60%;
        padding: 15px 20px;
        display: flex;
        justify-content: space-around;

        &__block {
            
        }

        .user-data {
            margin-bottom: 15px;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            position: relative;

            .show-pass {
                position: absolute;
                right: 10px;
                top: 20px;
                cursor: pointer;
            }

            &__lable {
                font-size: 14px;
                color: gray;
            }

            &__input {
                border: none;
                border-bottom: 1px solid black;
                height: 25px;
                background-color: transparent;
                font-size: 18px;
                padding-left: 10px;
                outline: none;

            }
        }
    }
}

.submit {
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: bold;
}