.modal-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, $alpha: .4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    .modal-window {
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        box-shadow: 5px 0 10px 0 rgba(0,0,0, .7);
        position: relative;

        &__title {
            font-size: 25px;
        }

        &__buttons {
            width: 60%;
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            margin-bottom: 45px;

            &-item {
                cursor: pointer;
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                border: 1px solid gray;
                border-radius: 3px;
                transition: .4s;

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0,0,0, .6);
                    background-color: white;
                }
            }
        }

        &__close {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: red;
            cursor: pointer;
            background-color: white;
            box-shadow: 0 0 0 5px rgba(150, 10, 10, .8);
            top: -10px;
            right: -10px;        
        }

        .form {
            &__field {
                margin-top: 30px;
                &-name {
                    color: gray;
                    position: relative;                    
                    background-color: lightgray;                   
                    margin-left: 10px;                    
                }
                &-input {
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid gray;
                    position: relative;                   
                    padding-left: 10px;
                    font-size: 20px;
                    height: 25px;
                    background-color: lightgray;

                    &_error {
                        border: 1px solid red;
                    }
                }
            }
        }

    }   

}