<div class="modal-wrapper" (click)="closeModal()">

    <div class="modal-window" (click)="stopProp($event)">
        <div class="modal-window__close" (click)="closeModal()">
            <i class="fas fa-times"></i><!-- с сайта https://fontawesome.com/icons/-->
        </div>

        <div class="modal-window__title">Authorization</div>

        <form class="form" novalidate [formGroup]="loginForm">            
            <div class="form__field">
                <div class="form__field-name" >Email</div>
                <input class="form__field-input" [class.form__field-input_error]="(email.dirty || email.touched) && !email.valid" type="text" formControlName="email">
                <div class="form__field-errors" *ngIf="(email.dirty || email.touched) && !email.valid">
                    <span *ngIf="email.errors.required">Поле обязательное для заполнения</span>
                    <span *ngIf="email.errors.emailValidator">Некорректно введен email</span>
                    
                </div>
            </div>
           
            <div class="form__field">
                    <div class="form__field-name">Password</div>
                    <input class="form__field-input" [class.form__field-input_error]="(password.dirty || password.touched) && !password.valid" type="password" formControlName="password">
                    <div class="form__field-errors" *ngIf="(password.dirty || password.touched) && !password.valid">
                        <span *ngIf="password.errors.required">Поле обязательное для заполнения</span>
                        <span *ngIf="password.errors.minlength">Пароль не должен быть короче {{ password.errors.minlength.requiredLength }} символов</span>
                        <span *ngIf="password.errors.maxlength">Пароль не должен быть длиннее {{ password.errors.maxlength.requiredLength }} символов</span>
                    </div>
                </div>            
        </form>

        <div class="modal-window__buttons">
            <button [disabled]="!loginForm.valid" (click)="sendData()" class="modal-window__buttons-item">OK</button>
            <button class="modal-window__buttons-item" (click)="closeModal()">Cansel</button>
        </div>
        
    </div>

</div>