<!--<div class="track" [@trackerState]="state" (@trackerState.done)="animationEnded($event)">-->
<div class="track" [@trackerState]="state">
    <div class="track__navigate" (click)="toogleTrack()">
        <i class="fas fa-angle-double-down arrows" [class.arrows_down]="isOpen"></i>

    </div>

    <div class="buttons">
        <ng-content *ngIf="isStart; then startTemplate else stopTemplate"></ng-content>
    </div>

    <div class="time" *ngIf="startTime && currentTime">
        {{ currentTime - startTime | trackPipe }}
    </div>

    <ng-template #startTemplate>
        <div class="buttons__item buttons__item_start" (click)="startTrack()">Start</div>
    </ng-template>

    <ng-template #stopTemplate>
        <ng-template *ngIf="isPaused; then resumeTemplate else pauseTemplate"></ng-template>
        <div class="buttons__item buttons__item_stop" (click)="stopTrack()">Stop</div>
    </ng-template>

    <ng-template #pauseTemplate>
        <div class="buttons__item buttons__item_pause" (click)="pauseTrack()">Pause</div>
    </ng-template>

    <ng-template #resumeTemplate>
            <div class="buttons__item buttons__item_pause"(click)="resumeTrack()">Resume</div>
    </ng-template>

</div>