.track {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: lightgray;
    z-index: 100;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0,.7);
    display: flex;
    flex-direction: column;    
    align-items: center;
    box-sizing: border-box;
    


    .buttons {
        top: 50px;
        display: flex;
        width: 30%;
        justify-content: center;
        overflow: hidden;//все дивы кот. не влазят в родительский див становятся none
        
        &__item {
            width: 150px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 30px;

            &:last-child {//псевдокласс говорит что у последнего элемента марджин не нужен
                margin-right: 0;
            }

            &_start {
                background-color: lightgreen;
            }

            &_pause {
                background-color: yellow;
            }

            &_stop {
                background-color: red;
            }
        }
    }
    
    &__navigate {
        box-shadow: 5px -3px 5px 0 rgba(0, 0, 0,.5);
        position: absolute;
        top: -40px;
        height: 40px;
        background-color: lightgray;
        width: 200px;
        left: calc(50% - 100px);
        border-radius: 10px 10px 0 0;
        cursor: pointer;   
        display: flex;
        align-items: center;
        justify-content: center;
        
        .arrows {
            transform: rotate(180deg);//развернем на 180градусов
            transition: .5s;

            &_down {
                transform: rotate(0deg);
            }
        }        
    }    
}