<div class="header">

  <div class="title">
      <img class="header__logo" src="assets/logo.png" alt="">
      <span class="header__name">Time Tracker</span>
  </div>  

  <i [routerLink]="['account', 'email']" routerLinkActive="header__account_active" class="fas fa-user header__account"></i>
  <!--<i (click)="openAccount()" class="fas fa-user header__account"></i> --универсальный способ даже если тег и роут на разных уровнях -->

</div>

<router-outlet></router-outlet>

<modal-login *ngIf="isShowModal" ></modal-login>