<div class="track" [@listState]="state">
    <div class="track__navigate" (click)="toogleTrack()">
        <i class="fas fa-angle-double-down arrows" [class.arrows_down]="isOpen"></i>
    </div>

    <div class="track__list" [class.track__list_hide]="!isOpen">
        <div class="track__list-item" *ngFor="let item of trackData">
            <span class="track__list-item-text track__list-item-text_date">{{ item.start_time | date }}</span>
            <span class="track__list-item-text">{{ item.start_time | clock }}</span>
            <span class="track__list-item-text">{{ item.stop_time | clock }}</span>
            <span class="track__list-item-text">Total: {{ item.stop_time - item.start_time - item.pause_summ | clock : true }}</span>
            <span class="track__list-item-text track__list-item-text_delete" (click)="removeItem(item.start_time)">x</span>
        </div>


    </div>

</div>