.track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: lightgray;
    z-index: 100;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0,.7);
    display: flex;
    flex-direction: column;    
    align-items: center;
    box-sizing: border-box;    

    &__navigate {
        box-shadow: 5px 3px 5px 0 rgba(0, 0, 0,.5);
        position: absolute;
        bottom: -40px;
        height: 40px;
        background-color: lightgray;
        width: 200px;
        left: calc(50% - 100px);
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;   
        display: flex;
        align-items: center;
        justify-content: center;
        
        .arrows {
            transform: rotate(0deg);//развернем на 180градусов
            transition: .5s;

            &_down {
                transform: rotate(180deg);
            }
        }        
    }  
    
    &__list {
        width: 50%;
        height: 85%;
        margin-top: 10px;
        overflow: hidden;//прячет то что не влезло в блок
        overflow-x: hidden;//нет скрола по иксу
        overflow-y: scroll;//есть скрол по игрику(scroll- есть всегда, auto-есть когда не влазит в блок)yraaa.ru-стили скролов
        ::-webkit-scrollbar-button {
            background-image:url();
            background-repeat:no-repeat;
            width:5px;
            height:0px
            }
            
            ::-webkit-scrollbar-track {
            background-color:#ecedee
            }
            
            ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color:#6dc0c8;
            }
            
            ::-webkit-scrollbar-thumb:hover{
            background-color:#56999f;
            }
            
            ::-webkit-resizer{
            background-image:url();
            background-repeat:no-repeat;
            width:4px;
            height:0px
            }
            
            ::-webkit-scrollbar{
            width: 4px;
            }
            
        &_hide {
            display: none;
        }

        &-item {
            width: 100%;
            height: 40px;
            margin-bottom: 5px;
            border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-text {
                font-style: italic;
                display: flex;
                align-items: center;
                height: 100%;
                &_date {
                    padding: 0 10px;
                    border-right: 1px solid blue;
                    background-color: white;
                    font-weight: bold;
                }

                &_delete {
                    padding: 0 10px;
                    border-left: 1px solid blue;
                    background-color: white;
                    font-weight: bold;
                    color: red;
                    cursor: pointer;
                }
            }
        }

    }
}