.home {
    width: 100%;
    height: calc(100vh - 70px);//калькулятор высоты
    box-sizing: border-box;
    padding: 20px;
    position: relative;

    &__text {
        font-size: 20px;
        width: 60%;
        color: black;
        position: relative;
        z-index: 2;
        font-size: 22px;
        line-height: 32px;
        font-style: italic;
        text-align: justify;
        margin-top: 50px;
        margin-left: 70px;
    }

    &__clock {
        color: lightgray;
        font-size: 220px;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        z-index: 1;
        right: 70px;
        top: 70px;
    }
}