<div class="home">

    <app-track-list></app-track-list>

    <div class="home__text">
            Razorback sucker; trout, milkfish starry flounder yellow-eye mullet.            
            Thornfish porgy: flagfish white croaker stingray píntano rudderfish, ridgehead carpsucker needlefish poolfish 
            lumpsucker vendace, sea catfish telescopefish Rainbow trout. Shortnose sucker common carp panga ilisha, 
            "queen parrotfish mudminnow, deep sea anglerfish." Black tetra gombessa yellowfin tuna seahorse eel-goby loweye 
            catfish pearlfish delta smelt gray reef shark cuskfish mullet forehead brooder. Barbel bullhead alewife sardine 
            fathead sculpin North American freshwater catfish; goosefish shortnose sucker longnose lancetfish, Black scabbardfish. 
            Queen danio boarfish surfperch spotted danio roughy eel cod longnose chimaera dab, "madtom," orbicular batfish orbicular 
            velvetfish."
    </div>

    <div class="home__clock" *ngIf="currentTime">
        {{currentTime | clock}}
    </div>
</div>

<track-time></track-time>